.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #7a7a7a;
  opacity: 0.8;
  visibility: hidden;
}

.container:hover .overlay {
  animation: fadeIn 4s ease-in;
  visibility: visible;
}

.user-info {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.social-media {
  position: absolute;
  font-size: 40px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
